@import "tailwindcss";

@theme {
  --color-freelancer-primary: #1798D7;
  --color-freelancer-secondary: #4372B5;

  --color-client-primary: #09D66D;
  --color-client-secondary: #4AB7B2;

  --color-brclr:#e5e7eb
}
* {
  box-sizing: border-box;
}